<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">
        <title>Login Page</title>
    </head>
    <body style="margin: 0; padding: 0; box-sizing: border-box; font-family: 'Arial', sans-serif; background: linear-gradient(to right, #6a11cb, #2575fc); height: 100vh; display: flex; justify-content: center; align-items: center;">
        <div style="width: 100%; max-width: 400px; background: rgba(255, 255, 255, 0.2); padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <div style="background: #fff; padding: 40px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
                <h1 style="margin-bottom: 20px; color: #003f0e; text-align: center;"> Personal Finance Tool</h1>
                <h2 style="margin-bottom: 20px; color: #333; text-align: center;">Login</h2>
                <form action="/dashboard">
                    <div style="margin-bottom: 20px;">
                        <label for="username" style="display: block; font-size: 14px; margin-bottom: 5px; color: #333;">Username</label>
                        <input type="text" id="username" name="username" required style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; font-size: 16px;">
                    </div>
                    <div style="margin-bottom: 20px;">
                        <label for="password" style="display: block; font-size: 14px; margin-bottom: 5px; color: #333;">Password</label>
                        <input type="password" id="password" name="password" required style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; font-size: 16px;">
                    </div>
                    <button type="submit" style="width: 100%; padding: 10px; background: #2575fc; border: none; border-radius: 5px; color: #fff; font-size: 16px; cursor: pointer; transition: background 0.3s;">Login</button>
                    
                </form>
            </div>
        </div>
    </body>
    </html>
    